/*  BASE -------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 54%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: #7159c1;
  color: #fff;
}

.center {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 3rem;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
  background-color: #7159c1;
  z-index: 2;
}

header .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 2.8rem;
}

header nav a {
  position: relative;
  color: #fff;
  font-size: 1.9rem;
  transition: color .3s;
  font-family: 'Titillium Web', sans-serif;
}

header nav a + a {
  margin-left: 2em;
}

header nav a:hover {
  color: #adadad;
}

header nav a.nav-btn {
  background: #fff;
  border: 2px solid #fff;
  padding: .3em 1em;
  border-radius: 4px;
  font-weight: bold;
  color: #7159c1;
  transition: background .3s, color .3s;
}

header nav a.nav-btn:hover {
  background: none;
  color: #fff;
}

@media (max-width: 720px) {
  header nav {
    display: none;
  }

  header .menu {
    font-size: 22px;
    color: #ffffff;
  }

  header .menu.open {
    position: fixed;
    z-index: 2;
    right: 3rem;
  }

  header .menu.open + nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:  #7159c1;
  }

  header nav a {
    font-size: 2.4rem;
  }

  header nav a + a {
    margin: 2rem 0 0;
  }
}

@media (min-width: 721px) {
  header .menu {
    display: none;
  }
}
